<div class="container">
    <div class="first-row">
        <span>Situação cadastral do CPF</span>
        <p>Consulta na Receita Federal</p>
    </div>
    <div class="second-row">
        <fa-icon [icon]="faUser" class="icon"></fa-icon>
        <div class="info">
            <span>Nome</span>
            <p>Mariane de Sousa Oliveira</p>
        </div>
    </div>
    <div class="third-row">
        <fa-icon [icon]="faCheckCircle" class="icon"></fa-icon>
        <div class="info">
            <span>Situação do CPF</span>
            <p>Regular</p>
        </div>
    </div>
</div>
