<div class="header">
    <div class="title">
        <span>NOVA ADMISSÃO COOPERADO</span>
        <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </p>
    </div>

    <div class="user-actions">
        <div class="notify">
            <a  href="">
                <fa-icon [icon]="faBell" class="bell"></fa-icon>
            </a>
            <div class="badge-container">
                <span class="badge">9</span>
            </div>
            
        </div>
        <div class="button-header">
            <a  href="">
                <span>VIACREDI</span>
            </a>
        </div>
        <div class="avatar">
            <a href="">
                <img class="image" src="/assets/profile/avatar.png" alt="">
            </a>
            <div class="settings">
                <fa-icon [icon]="faCog" class="cog"></fa-icon>
            </div>
        </div>
    </div>
</div>
