.button {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border: solid 1px;
    border-color: #165C7D;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #165C7D;
;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(2,61,85,0.1);
    border-color: #023D55;
}

