<div class="container">
    <a class="logo" href="">
        <img src="/assets/logo/logoAilos.png" alt="">
    </a>

    <div class="toggle-btn">
        <a href="">
            <fa-icon [icon]="faBars" class="bars"></fa-icon>
        </a>
    </div>

    <div class="nav-list">
        <a href="">
            <fa-icon [icon]="faSearch" class="icon"></fa-icon>
        </a>

        <a href="">
            <img class="image" src="/assets/icons/estrela.png" alt="">
        </a>

        <a href="">
            <img class="image" src="/assets/icons/chat.png" alt="">
        </a>

        <a href="">
            <img class="image" src="/assets/icons/categorias.png" alt="">
        </a>

        <a href="">
            <img class="image" src="/assets/icons/central.png" alt="">
        </a>
    </div>
</div>